/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #21a8af
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

$textColor = #333

// original
$bgColor = #b4e9fc
$bgColorDark = #9addf5


